<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign-In</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
   
   <style>
        @import url("../static/css/style.css");
        @import url("../static/css/main.css");
   </style>
    
</head>
    <body>

        <nav role="navigation">
            <div id="menuToggle">
           
              <input type="checkbox" />
              <span></span>
              <span></span>
              <span></span>
              
          
              <ul id="menu">
                <a href="#"><li>Home</li></a>
                <a href="#"><li>Login</li></a>
                <a href="#"><li>Register</li></a>
                <a href="#"><li></li></a>
              </ul>
            </div>
          </nav>


        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>

        <form>
            <h3>Welcome!</h3>

            <div>
                <button><a href="login.html"><p>Login!</p></a></button>
                <button><a href="register.html"><p>Register!</p></a></button>
            </div>
        
        </form>
    </body>
</html>
